<?xml version="1.0" encoding="UTF-8"?>
<Team>
	<Name>FSM</Name>
	<IconPath>fsm.png</IconPath>
	<SoundPath>fsm.wav</SoundPath>
	<Description>
	    Implémente et test la FSM.
	</Description>
	<AgentsBrainControllers>
		<WarExplorer>WarExplorerBrainController.class</WarExplorer>
		<WarRocketLauncher>WarRocketLauncherBrainController.class</WarRocketLauncher>
		<WarBase>WarBaseBrainController.class</WarBase>
		<WarKamikaze>WarKamikazeBrainController.class</WarKamikaze>
		<WarEngineer>WarEngineerBrainController.class</WarEngineer>
		<WarTurret>WarTurretBrainController.class</WarTurret>
	</AgentsBrainControllers>
</Team>