<?xml version="1.0" encoding="UTF-8"?>
<Team>
	<Name>Engineer</Name>
	<IconPath>dekat.png</IconPath>
	<SoundPath>dekat.wav</SoundPath>
	<Description>Equipe d'ingénieur défensif un peu plus intelligent</Description>
    <BrainsPackage>teams.engineer</BrainsPackage>
	<AgentsBrainControllers>
		<WarExplorer>WarExplorerBrainController</WarExplorer>
		<WarRocketLauncher>WarRocketLauncherBrainController</WarRocketLauncher>
		<WarBase>WarBaseBrainController</WarBase>
		<WarKamikaze>WarKamikazeBrainController</WarKamikaze>
		<WarEngineer>WarEngineerBrainController</WarEngineer>
		<WarTurret>WarTurretBrainController</WarTurret>
	</AgentsBrainControllers>
</Team>